<div>

<div class="navbarmain">
<div class="logo"><%= image_tag("logo.svg", :alt => "description") %></div>
<div class="app-title">Ment For Others</div>
<div class="about-us">About Us</div>
<div class="login-bg"></div>
<div class="login">Log-in</div>
<div class=""></div>
<div class="team-photo"><%= image_tag("team_photo.svg", :alt => "description") %></div>
<div class="tagline">Creating a community of mentors and mentees.</div>
<div class="mentor-button"></div>
<div class="mentor-text">I&#39;m a Mentor</div>
<div class="mentee-button"></div>
<div class="mentee-text">I&#39;m a Mentee</div>
<div class="purple-bg"></div>
<div class="header">What Ment for Others does</div>
<div class="description">It’s difficult to look for a mentor but our platform creates an easier way to connect  mentors and mentees with each other!</div>
<div class="phone-image"><%= image_tag("phone-image.svg", :alt => "description") %></div>
<div class="any-questions-div"></div>
<div class="bottom-logo"><%= image_tag("logo.svg", :alt => "description") %></div>
<div class="any-questions">Any questions?</div>
<div class="email">Send us a message at ment@others.com</div>
</div>
</div>
