<html>

<head>
   <link rel="stylesheet" type="text/css" href="login.css">

</head>

<body>

<div id="box5">

</div>

	<p id="login-header"> Login to Ment </p>
	<input id="user-box" placeholder="Email" type="text" />
	<input id="pass-box" placeholder="Password" type="text" />
	<button id="submit-box" type="submit" />

</body>

</html>