<head><link rel = "stylesheet"
    type = "text/css"
    href = "mentor-homepage.css" />
    </head>
    <div class="navbarmain"></div>
    <div class="app-title">Ment for Others</div>
    <div class="home-button">Home</div>
    <div class="events-button">Events</div>
    <div class="feature-button">Create Event</div>
    <div class="white-bg"></div>
    <div class="mentee-header">My Mentees</div>
    <div class="event-card card-1">Mentee 1</div>
    <div class="card-description card-1">Ateneo Blue Eagles</div>
    <div class="card-date card-1">Event Name</div>
    
    <div class="event-card card-2">Mentee 2</div>
    <div class="card-description card-2">Ateneo Blue Eagles</div>
    <div class="card-date card-2">Event Name</div>
    
    <div class="event-card card-3">Mentee 3</div>
    <div class="card-description card-3">Ateneo Blue Eagles</div>
    <div class="card-date card-3">Event Name</div>
    
    <div class="event-card card-4">Mentee 4</div>
    <div class="card-description card-4">Ateneo Blue Eagles</div>
    <div class="card-date card-4">Event Name</div>
    
    <!-- events 5-8 -->
    <!-- <div class="event-card card-1 card-bottom">Mentee 5</div>
    <div class="card-description card-1 card-bottom">Ateneo Blue Eagles</div>
    <div class="card-date card-1 card-bottom">Event Name</div>
    
    <div class="event-card card-2 card-bottom">Mentee 6</div>
    <div class="card-description card-2 card-bottom">Ateneo Blue Eagles</div>
    <div class="card-date card-2 card-bottom">Event Name</div>
    
    <div class="event-card card-3 card-bottom">Mentee 7</div>
    <div class="card-description card-3 card-bottom">Ateneo Blue Eagles</div>
    <div class="card-date card-3 card-bottom">Event Name</div>
    
    <div class="event-card card-4 card-bottom">Mentee 8</div>
    <div class="card-description card-4 card-bottom">Ateneo Blue Eagles</div>
    <div class="card-date card-4 card-bottom">Event Name</div> -->
    
    <!-- event popup-->
    <div class="mentee-popup"></div>
    <div class="mentee-popup-num">Mentee 4</div>
    <div class="mentee-popup-name">Ateneo Blue Eagle</div>
    <div class="mentee-popup-event">Event Name</div>
    <div class="mentee-popup-description">Mentee's profile description</div>
        <div class="mentee-popup-remove">Remove mentee</div>