<div>

<div class="navbarmain">
<div class="logo"><%= image_tag("logo.svg", :alt => "description") %></div>
<div class="app-title">Ment For Others</div>
<div class="mentorsnav">Back</div>

<div class="circle1">Interest 1 </div>
<div class="circle2">Interest 2</div>
<div class="circle3">Interest 3</div>
<div class="circle4">Interest 4</div>
<div class="circle5">Interest 5</div>
<div class="circle6">Interest 6</div>
<div class="circle7">Interest 7</div>
<div class="circle8">Interest 8</div>
<div class="circle9">Interest 9</div>
<div class="circle10">Interest 10</div>
<div class="circle11">Interest 11</div>
<div class="circle11">Interest 12 </div>
<input class="rb">Register </div>



</div>

</div>
