<div>

<div class="navbarmain">
<div class="logo"><%= image_tag("logo.svg", :alt => "description") %></div>
<div class="app-title">Ment For Others</div>

<div class="a-rectangle"></div>
<div class="sign-header">Signup as Mentor</p>
<input class="fname" placeholder="First Name" />
<input class="lname" placeholder="Last Name" />
<input class="email" placeholder="Email" />
<input class="pnumber" placeholder="Phone Number" />
<input class="age" placeholder="Age" />
<input class="pass" placeholder="Password" />
<input class="cpass" placeholder="Confirm Password" />
<input class="occupation" placeholder="School" />
<input class="aff" placeholder="Degree" />
<input class="foe" placeholder="Field of Expertise" />
<button class="rbutton">Register</button>



</div>
</div>
