<div>

<div class="navbarmain">
<div class="logo"><%= image_tag("logo.svg", :alt => "description") %></div>
<div class="app-title">Ment For Others</div>
<%# <div class="my-account">My Account</div> %>
<%# <div class="myacc-nav">My Account</div> %>
<%= link_to 'Home', mentor_path, class: 'homenav' %>
<%= link_to "Logout", destroy_mentor_session_path, class: 'logout', :method => :delete %>
<div class="a-rectangle"></div>
<div class="happy-man"><%= image_tag("happy-man.png", :alt => "description") %></div>
<div class="my-name">FirstName LastName</div>
<div class="my-interest">Interest 1, Interest 2, Interest 3</div>

</div>

<div class="rectangle-bg"></div>
<div class="firstname-lastname">FirstName, LastName</div>
<div class="interests">Interest 1, Interest 2, Interest 3</div>
<div class="field-of-study">Field of Study</div>
<div class="phone-number">Phone Number</div>
<div class="email-acct">Email</div>
<div class="occupation1">Occupation </div>
<div class="affiliation1">Affiliation</div>
<div class="exp-1">Experience 1</div>
<div class="exp-2">Experience 2</div>
<div class="exp-3">Experience 3</div>
<div class="fos-input">UX Design</div>
<div class="num-input">63 917 XXX XXXX</div>
<div class="email-input">ment@others.com</div>
<div class="school-input">Designer</div>
<div class="deg-input">Design Company</div>
<div class="exp-1-input">Blue Hacks 2018</div>
<div class="exp-2-input">Blue Hacks 2018</div>
<div class="exp-3-input">Blue Hacks 2018</div>
<div class="edit edit1">edit</div>
<div class="edit edit2">edit</div>
<div class="edit edit3">edit</div>
<div class="edit edit4">edit</div>
<div class="edit edit5">edit</div>
<div class="edit edit6">edit</div>
<div class="edit edit7">edit</div>
<div class="edit edit8">edit</div>

<div class="field-of-study">Field of Study</div>
</div>
