<div>

<div class="navbarmain">
<div class="logo"><%= image_tag("logo.svg", :alt => "description") %></div>
<div class="app-title">Ment For Others</div>
<div class="my-account">My Account</div>
<div class="myacc-nav">My Account</div>
<div class="homenav">Home</div>
<div class="mentorsnav">Mentors</div>

<div class="a-rectangle"></div>
<div class="happy-man"><%= image_tag("happy-man.png", :alt => "description") %></div>
<div class="my-name">FirstName LastName</div>
<div class="my-interest">Interest 1, Interest 2, Interest 3</div>

</div>
</div>
