.circle1 {
    position: absolute;
    width: 138px;
    height: 138px;
    left: 305px;
    top: 329px;
    border-radius: 50%;
    background: #3C5CCB;
    text-align: center;
    display: inline-block;
    color: white;

}
.circle2 {

    position: absolute;
width: 138px;
height: 138px;
left: 447px;
top: 311px;
border-radius: 50%;
background: #3C5CCB;
color: white;

}

.circle3 {
    position: absolute;
    width: 201px;
    height: 201px;
    left: 365px;
    top: 444px;
    border-radius: 50%;
    background: #3C5CCB;
    color: white;

}

.circle4 {

    position: absolute;
    width: 138px;
    height: 138px;
    left: 557px;
    top: 401px;
    border-radius: 50%;
    background: #3C5CCB;
    color: white;

}

.circle5 {

    position: absolute;
width: 138px;
height: 138px;
left: 557px;
top: 539px;
border-radius: 50%;
background: #3C5CCB;
color: white;


}

.circle6 {

    position: absolute;
width: 138px;
height: 138px;
left: 667px;
top: 317px;
border-radius: 50%;
background: #3C5CCB;
color: white;


}

.circle7 {
    position: absolute;
    width: 201px;
    height: 201px;
    left: 690px;
    top: 449px;
    border-radius: 50%;
    background: #3C5CCB;
    color: white;


}

.circle8 {

    position: absolute;
width: 201px;
height: 201px;
left: 809px;
top: 285px;
border-radius: 50%;
background: #3C5CCB;
color: white;


}

.circle9 {

    position: absolute;
    width: 138px;
    height: 138px;
    left: 892px;
    top: 481px;
    border-radius: 50%;
    background: #3C5CCB;
    color: white;

}

.circle10 {
    position: absolute;
    width: 138px;
    height: 138px;
    left: 834px;
    top: 608px;
    border-radius: 50%;
    background: #3C5CCB;
    color: white;


}

.circle11 {

position: absolute;
width: 138px;
height: 138px;
left: 996px;
top: 248px;
border-radius: 50%;
background: #3C5CCB;
color: white;


}

.circle12 {

    position: absolute;
    width: 138px;
    height: 138px;
    left: 996px;
    top: 248px;
    border-radius: 50%;
    background: #3C5CCB;
    color: white;


}

.rb2 {
    position: absolute;
    width: 488px;
    height: 56px;
    left: 486px;
    top: 819px;
    
    /* Green 2 */
    background: #27AE60;
    border-radius: 4px;
    color: white;
    font-family: Assistant;

}


.i1 {
    position: absolute;
width: 95px;
height: 32px;
left: 326px;
top: 382px;

font-family: Assistant;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 24px;

color: #FFFFFF;
}

.i2 {
    position: absolute;
    width: 96px;
    height: 32px;
    left: 468px;
    top: 364px;
    
    font-family: Assistant;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    
    color: #FFFFFF;
}

.i3 {
    position: absolute;
    width: 158px;
    height: 48px;
    left: 387px;
    top: 521px;
    
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;
    
    color: #FFFFFF;
    
    
}

.i4 {
    position: absolute;
width: 96px;
height: 32px;
left: 579px;
top: 454px;

font-family: Assistant;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 24px;

color: #FFFFFF;
}

.i5 {

    position: absolute;
width: 96px;
height: 32px;
left: 579px;
top: 592px;

font-family: Assistant;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 24px;

color: #FFFFFF;
}

.i6 {
    position: absolute;
width: 96px;
height: 32px;
left: 688px;
top: 370px;

font-family: Assistant;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 24px;

color: #FFFFFF;
}


.i7 {
    position: absolute;
width: 158px;
height: 48px;
left: 712px;
top: 526px;

font-family: Assistant;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 36px;

color: #FFFFFF;
}

.i8 {
    position: absolute;
width: 158px;
height: 48px;
left: 831px;
top: 362px;

font-family: Assistant;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 36px;

color: #FFFFFF;
}

.i9 {
    position: absolute;
width: 96px;
height: 32px;
left: 913px;
top: 534px;

font-family: Assistant;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 24px;

color: #FFFFFF;
}

.i10 {
    position: absolute;
width: 107px;
height: 32px;
left: 849px;
top: 661px;

font-family: Assistant;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 24px;

color: #FFFFFF;
}

.i11 {
    position: absolute;
width: 107px;
height: 32px;
left: 1011px;
top: 301px;

font-family: Assistant;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 24px;

color: #FFFFFF;
}

.i12 {
position: absolute;
width: 107px;
height: 32px;
left: 1011px;
top: 441px;

font-family: Assistant;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 24px;

color: #FFFFFF;
}