#dark {
    background: black !important;
    height: 100%;
}

.bg-orange {
    background: #cc6633 !important;
}

.bg-black {
    background: black !important;
}

body {
    height: 100%;
}

.large-div {
    height: 500px;
}