.my-account {
position: absolute;
width: 200px;
height: 53px;
left: 98px;
top: 199px;

font-family: Assistant;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 40px;

color: #3C5CCB;

}

.a-rectangle {
    position: absolute;
    width: 814px;
    height: 599px;
    left: 104px;
    top: 312px;

    background: #FBFBFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;

}

.happy-man {
    position: absolute;
    width: 376px;
    height: 402px;
    left: 975px;
    top: 312px;


}

.homenav {
    position: absolute;
    width: 47px;
    height: 24px;
    left: 1033px;
    top: 44px;

    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;

    color: #FFFFFF;
}

.mentorsnav {
    position: absolute;
    width: 65px;
    height: 24px;
    left: 1144px;
    top: 44px;
    
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    
    color: #FFFFFF;
    
    
}

.myacc-nav {
    position: absolute;
width: 90px;
height: 24px;
left: 1261px;
top: 44px;

font-family: Assistant;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 18px;

color: #FFFFFF;
}

.my-name {
    position: absolute;
    width: 439px;
    height: 63px;
    left: 142px;
    top: 330px;

    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 48px;

    color: #3C5CCB;


}

.rectangle-bg{
    position: absolute;
width: 814px;
height: 599px;
left: 104px;
top: 312px;

background: #FBFBFB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 3px;
}
.firstname-lastname{
    position: absolute;
width: 469px;
height: 63px;
left: 142px;
top: 330px;

font-family: Assistant;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 48px;

color: #3C5CCB;
}
.interests{
    position: absolute;
width: 429px;
height: 42px;
left: 142px;
top: 389px;

font-family: Assistant;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 32px;

color: #3C5CCB;
}

.field-of-study{
    position: absolute;
width: 194px;
height: 42px;
left: 142px;
top: 471px;

font-family: Assistant;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 32px;

color: #3C5CCB;
}

.phone-number{
    position: absolute;
width: 215px;
height: 42px;
left: 142px;
top: 524px;

font-family: Assistant;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 32px;

color: #3C5CCB;
}

.email-acct{
    position: absolute;
width: 77px;
height: 42px;
left: 142px;
top: 577px;

font-family: Assistant;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 32px;

color: #3C5CCB;
}

.school{
    position: absolute;
width: 93px;
height: 42px;
left: 142px;
top: 630px;

font-family: Assistant;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 32px;

color: #3C5CCB;
}
.degree{

position: absolute;
width: 96px;
height: 42px;
left: 142px;
top: 683px;

font-family: Assistant;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 32px;

color: #3C5CCB;

}

.exp-1{
    position: absolute;
width: 170px;
height: 42px;
left: 142px;
top: 736px;

font-family: Assistant;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 32px;

color: #3C5CCB;
}

.exp-2{
    position: absolute;
width: 171px;
height: 42px;
left: 141px;
top: 789px;

font-family: Assistant;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 32px;

color: #3C5CCB;
}

.exp-3{
    position: absolute;
width: 171px;
height: 42px;
left: 142px;
top: 842px;

font-family: Assistant;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 32px;

color: #3C5CCB;
}
.fos-input{
    position: absolute;
    width: 218px;
    height: 51px;
    left: 401px;
    top: 474px;
    
    font-family: Assistant;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 32px;
    
    color: #3C5CCB;
}
.num-input{

position: absolute;
width: 218px;
height: 51px;
left: 401px;
top: 526px;

font-family: Assistant;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 32px;

color: #3C5CCB;
}

.email-input{
    position: absolute;
width: 253px;
height: 51px;
left: 401px;
top: 577px;

font-family: Assistant;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 32px;

color: #3C5CCB;

}

.school-input{
    position: absolute;
width: 233px;
height: 51px;
left: 401px;
top: 628px;

font-family: Assistant;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 32px;

color: #3C5CCB;
}

.deg-input{
    position: absolute;
width: 250px;
height: 52px;
left: 403px;
top: 679px;

font-family: Assistant;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 32px;

color: #3C5CCB;
}

.exp-1-input{

position: absolute;
width: 218px;
height: 51px;
left: 401px;
top: 741px;

font-family: Assistant;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 32px;

color: #3C5CCB;

}

.exp-2-input{
    position: absolute;
width: 218px;
height: 51px;
left: 401px;
top: 792px;

font-family: Assistant;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 32px;

color: #3C5CCB;
}

.exp-3-input{
    position: absolute;
width: 218px;
height: 51px;
left: 401px;
top: 843px;

font-family: Assistant;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 32px;

color: #3C5CCB;

}

.edit{
    position: absolute;
    width: 34px;
    height: 27px;
    left: 777px;
    
    font-family: Assistant;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 20px;
    
    color: #0039FF;
}

.edit1{
    position:absolute;
    top: 483px;
}

.edit2{
    top: 534px;

}

.edit3{
    top: 585px;

}

.edit4{
    top: 637px;

}

.edit5{
    top: 685px;

}

.edit6{
    top: 749px;

}

.edit7{
    top: 798px;

}

.edit8{
    top: 847px;

}