.navbarmain{
    position: absolute;
    width: 1440px;
    height: 112px;
    left: 0px;
    top: 0px;
    
    background: #3C5CCB;

}
.about-us{
    position: absolute;
width: 71px;
height: 24px;
left: 1076px;
top: 44px;

font-family: Assistant;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 18px;

color: #FFFFFF;


}

.app-title{
    position: absolute;
width: 250px;
height: 48px;
left: 153px;
top: 32px;

font-family: Assistant;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 35px;

color: #FFFFFF;

}

.signup{
    position: absolute;
width: 61px;
height: 24px;
left: 1298px;
top: 44px;

font-family: Assistant;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 18px;

color: #FFFFFF;
}
.signup-bg{
    position: absolute;
width: 215px;
height: 112px;
left: 1225px;
top: 0px;

/* Red */
background: #EB5757;
}
.logo{
position: absolute;
width: 88.18px;
height: 61.02px;
left: 54px;
top: 25px;
}

.team-photo{
    position: absolute;
width: 700px;
height: 440px;
left: 76px;
top: 248px;
}

.tagline{
    position: absolute;
width: 435px;
height: 105px;
left: 832px;
top: 389px;

font-family: Assistant;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 40px;

color: #3C5CCB;

}

.mentor-text{

position: absolute;
width: 105px;
height: 24px;
left: 870px;
top: 539px;

font-family: Assistant;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 18px;

color: #000000;

}
.mentor-button{
    position: absolute;
    width: 171px;
    height: 54px;
    left: 832px;
    top: 524px;
    
    /* Yellow */
    background: #F2C94C;
    border-radius: 4px;


}

.mentee-button{

    position: absolute;
    width: 171px;
    height: 54px;
    left: 1059px;
    top: 524px;
    
    /* Yellow */
    background: #F2C94C;
    border-radius: 4px;

}

.mentee-text{
    position: absolute;
width: 105px;
height: 24px;
left: 1097px;
top: 539px;

font-family: Assistant;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 18px;

color: #000000;
}

.purple-bg{
    position: absolute;
width: 1440px;
height: 608px;
left: 0px;
top: 860px;

background: #3C5CCB;
}

.header{
    position: absolute;
width: 463px;
height: 53px;
left: 134px;
top: 1090px;

font-family: Assistant;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 40px;

color: #FFFFFF;

}

.description{
 
position: absolute;
width: 463px;
height: 158px;
left: 134px;
top: 1159px;

font-family: Assistant;
font-style: normal;
font-weight: 400;
line-height: normal;
font-size: 18px;

color: #FFFFFF;

}

.phone-image{
    position: absolute;
width: 621px;
height: 488px;
left: 748px;
top: 920px;

}

.any-questions-div{
    position: absolute;
width: 1440px;
height: 309px;
left: 0px;
top: 1468px;
background: #4F4F4F;
}

.bottom-logo{
    position: absolute;
width: 88.18px;
height: 61.02px;
left: 676px;
top: 1547px;

}

.any-questions{

    position: absolute;
    width: 214px;
    height: 42px;
    left: 618px;
    top: 1620px;
    
    font-family: Assistant;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 32px;
    
    color: #F2F2F2;

}

.email{
    position: absolute;
width: 320px;
height: 24px;
left: 564px;
top: 1674px;

font-family: Assistant;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 18px;

color: #F2F2F2;
}