.sign-header {
    position: absolute;
width: 291px;
height: 48px;
left: 575px;
top: 200px;

font-family: Assistant;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 36px;

color: #3C5CCB;
}

.fname {
position: absolute;
width: 488px;
height: 56px;
left: 197px;
top: 287px;

background: #FFFFFF;
border: 2px solid #3C5CCB;
box-sizing: border-box;
border-radius: 4px;
}

.lname {
    position: absolute;
    width: 488px;
    height: 56px;
    left: 775px;
    top: 287px;
    
    background: #FFFFFF;
    border: 2px solid #3C5CCB;
    box-sizing: border-box;
    border-radius: 4px;
}

.email {
    position: absolute;
    width: 488px;
    height: 56px;
    left: 197px;
    top: 363px;
    color:rgba(0,0,0,0.7);

    background: #FFFFFF;
    border: 2px solid #3C5CCB;
    box-sizing: border-box;
    border-radius: 4px;
}

.pnumber {

    position: absolute;
width: 488px;
height: 56px;
left: 775px;
top: 363px;

background: #FFFFFF;
border: 2px solid #3C5CCB;
box-sizing: border-box;
border-radius: 4px;
}

.age {
    position: absolute;
    width: 122px;
    height: 56px;
    left: 197px;
    top: 439px;
    
    background: #FFFFFF;
    border: 2px solid #3C5CCB;
    box-sizing: border-box;
    border-radius: 4px;
}

.pass {

    position: absolute;
width: 488px;
height: 56px;
left: 197px;
top: 515px;

background: #FFFFFF;
border: 2px solid #3C5CCB;
box-sizing: border-box;
border-radius: 4px;
}

.cpass {

    position: absolute;
    width: 488px;
    height: 56px;
    left: 197px;
    top: 591px;
    
    background: #FFFFFF;
    border: 2px solid #3C5CCB;
    box-sizing: border-box;
    border-radius: 4px;
}

.occupation {


position: absolute;
width: 488px;
height: 56px;
left: 197px;
top: 667px;

background: #FFFFFF;
border: 2px solid #3C5CCB;
box-sizing: border-box;
border-radius: 4px;

}

.aff {

    position: absolute;
width: 488px;
height: 56px;
left: 775px;
top: 667px;

background: #FFFFFF;
border: 2px solid #3C5CCB;
box-sizing: border-box;
border-radius: 4px;

}

.foe {

    position: absolute;
width: 1066px;
height: 56px;
left: 197px;
top: 743px;

background: #FFFFFF;
border: 2px solid #3C5CCB;
box-sizing: border-box;
border-radius: 4px;
}

.rbutton {
    position: absolute;
    width: 488px;
    height: 56px;
    left: 486px;
    top: 819px;

    background: #27AE60;
    border-radius: 4px;
}